nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left:  30px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
  }
  #navbar li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(18, 19, 48);
    transition: 0.3s ease-in-out;
  }
  #navbar li a:hover,
  #navbar li a.active {
    color: skyblue;
  }
  #navbar li a:hover::after
 
  #mobile i {
    color: #3c999c;
  }
  #mobile {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 140px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: #ffffff;
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
      scrollbar-color: #1e9258;
    }
    #navbar.active {
      right: 0px;
    }
    #navbar li {
      margin-bottom: 25px;
    }
    #mobile {
      display: block;
    }
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  